@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

/*
    © 2021-2025, LukeDev
*/

html { 
    background: url(assets/vaporwave.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

.main {
    font-family: 'Train One', cursive;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.avatar {
    position: relative;
}

.status {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(48, 69, 96);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: -10px;
    transform: translate(40%, -40%);
    background-color: rgb(33, 34, 35);
}

.presence {
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    background: rgba(220, 220, 220, 0.2);
    padding: 5px;
}

.content {
    margin-left: 8px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content p {
    margin: 2px 0;
}

.presence img {
    border-radius: 5px;
}

.action {
    font-size: 10px;
}

.details {
    font-weight: bold;
}

.content .details + .state {
    margin-top: -2px;
}

.presence {
    transition: 0.5s;
}

.presence:hover {
    transform: scale(1.1);
}

.icon {
    transition: 0.5s;
}

.icon:hover {
    transform: scale(1.5);
}

.icons {
    margin-top: 5px;
}

.online {
    background-color: #23A55A;
}

.dnd {
    background-color: #F23F43;
}

.idle {
    background-color: #D6A031;
}

.offline {
    background-color: #313338;
}

.main p {
    font-family: 'Unbounded', cursive;
}

.main a {
    text-decoration: none;
    color: inherit;
}